.topic-li {
    display: block;
    padding: 8px 20px;
    cursor: pointer;
    color: #7e7e7e;
}

.topic-li:hover, .topic-selected, .subtopic-li:hover, .subtopic-selected {
    color: #3f3f3f !important;
}

.topic-content p, .subtopic-name {
    margin: 0;
    display: inline-block;
}

.topic-arrow {
    font-weight: bold;
    margin-right: 10px !important;
}

.arrow-selected {
    transform: rotate(90deg);
}

.topic-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topic-interaction {
    display: block;
}

.sub-topic-add {
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 15px;
}

.sub-topic-add:hover {
    transform: scale(1.2);
}

.subtopic-list {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 10px;
}

.subtopic-li {
    padding: 5px 10px;
    color: #7e7e7e;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topic-delete {
    display: inline-block;
    font-weight: bold;
    color: #b33939;
    font-size: 1.2em;
    cursor: pointer;
}

.topic-delete:hover {
    transform: scale(1.2);
}