.card {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    color: #3f3f3f;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.card-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-head h3 {
    margin: 20px;
}

.card-delete {
    font-weight: bold;
    margin-right: 20px;
    color: #b33939;
    font-size: 1.2em;
    cursor: pointer;
}

.card-delete:hover {
    transform: scale(1.2);
}

.card p {
    margin: 0 20px 20px;
}

.card-bar {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dbdbdb;
    box-sizing: border-box;
}

.stat-p {
    margin: 0 !important;
    font-size: 0.8em;
}

.dont-know-button {
    background-color: #b33939;
}

.know-button {
    background-color: #218c74;
}