.card {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    color: #3f3f3f;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.card h3 {
    margin: 20px;
}

.card p {
    margin: 0 20px 20px;
}

.card-bar {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dbdbdb;
    box-sizing: border-box;
}

.stat-p {
    margin: 0 !important;
    font-size: 0.8em;
}

.card-button-bar button {
    border: 0;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    margin-left: 15px;
    padding: 5px 10px;
    font-weight: bold;
    outline: none;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
}

.card-button-bar button:hover {
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4);
}

.turn-button {
    background-color: #706fd3;
}

.dont-know-button {
    background-color: #b33939;
}

.know-button {
    background-color: #218c74;
}